* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2rem;
}
h1 {
  color: rgb(64, 64, 126);
}
.mobile {
  display: none;
}
.nav-pages {
  display: flex;
  gap: 10px;
}
.nav-pages li {
  transition: all 0.5s ease;
  background-color: rgb(183, 130, 130);
  border-radius: 4px;
  cursor: pointer;
  padding: 4px;
  list-style: none;
}
.nav-pages li:hover {
  background-color: rgb(205, 117, 117);
}
.product-alert {
  background-color: #ccc;
  height: 200px;
  top: 50%;
  display: flex;
  align-items: center;
  z-index: 3;
  justify-content: center;
  visibility: hidden;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 400px;
}
.close-btn {
  top: 10%;
  right: 10%;
  border-radius: 5px;
  padding: 2px 4px;
  cursor: pointer;
  position: absolute;
}
.overlay {
  position: fixed;
  z-index: 2;
  display: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.product-grid {
  margin: 20px 0;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 10px;
}
.grid-item {
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 4px;
}
.grid-item img {
  width: 150px;
  height: 150px;
}
@media (max-width: 1023px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  header {
    padding: 10px 0.5rem;
    position: relative;
  }
  h1 {
    font-size: 1.3rem;
    align-self: center;
  }
  .mobile {
    width: fit-content;
    display: block;
    /* position: absolute;
    top: 12%;
    right: 10%; */
  }
  .mobile i {
    transition: all 1.3s ease-in-out;
    font-size: 40px;
    position: absolute;
    top: 40%;
    right: 10%;
    z-index: 3;
  }
  .nav-pages {
    flex-direction: column;
    background-color: #ccc;
    padding: 3rem 4rem;
    width: 80%;
    justify-content: flex-start;
    transition: all 0.5s ease-in-out;
    position: fixed;
    right: 0;
    top: 100%;
  }
  .active {
    right: 0;
    top: 0;
    z-index: 2;
  }
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-alert {
    width: 90%;
    padding: 0 10px;
  }
}
